/* File style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    font-size: 36px;
}

p {
    font-size: 16px;
    color: #666;
}
